* {
  box-sizing: border-box;
}

.card img {
  aspect-ratio: 16/9;
  object-fit: cover;
  max-width: 100%;
}
.card.link {
  transition: all 0.3s ease-in-out;
}
.card.link:hover {
  transform: scale(1.03);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
  z-index: 1;
}

.grid {
  display: grid;
  gap: 0.4rem;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.gallery {
  display: grid;
  gap: 0.3rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.gallery .card {
  transition: all 0.4s ease-in-out;
  border: none;
}

.gallery .card:hover {
  transform: scale(2);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
  z-index: 1;
}

.skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 0.3rem;
}

a {
  display: inline;
  cursor: pointer;
  height: 100%;
  text-decoration: none;
  color: inherit;
}

/* .navbar{
  padding-bottom: 1rem;
  border-bottom: 1px dotted #ccc;
} */

b {
  font-weight: 600;
}

.bg-white-opacity-blur {
  --bs-bg-opacity: 0.8;
  background-color: rgba(var(--bs-white-rgb), var(--bs-bg-opacity)) !important;
  backdrop-filter: blur(5px);
}

.navbar .navbar-brand {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 0.5rem;
  background-color: rgba(var(--bs-white-rgb), var(--bs-bg-opacity));
}

.vh-75 {
  height: 75vh;
}

.section-title{
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.2rem;
  color: rgba( 0,0,0 , 1)
}

.text-grey, a.text-grey , a.text-grey:focus, a.text-grey:active, a.text-grey:visited {
  color: rgba( 0,0,0 , 0.65)!important;
  text-decoration: none;
}

a.text-grey:hover {
  color: rgba( 0,0,0 , 0.75)!important;
} 

.btn-outline-primary {
  background-color: rgba(var(--bs-white-rgb), var(--bs-bg-opacity));
}

.font-smaller { font-size: 0.85rem }

.font-smaller li {
  font-size: 0.8rem
}

ul {
  padding: 0;
  list-style-type: none;
}

.nav-link.btn:hover, .nav-link.btn.active {
  --bs-link-color-rgb: var(--bs-link-hover-color-rgb);
  background-color: transparent;
}

i {
  position: absolute;
  top: 1.2rem;
  right: 1rem;
}
i:hover {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-primary-rgb),var(--bs-text-opacity))!important;
  cursor: pointer;
}

/* .anchor {
    scroll-margin-top: 60px;
} */
